node_modules
config/app.dev.js
config/app.test.js
*.log
coverage
junit
build
test-results.xml
vars.env
.env
.idea
.vscode
.nyc_output
shrinkwrap.yaml
data/db/*
scripts/deploy/Dockerfile
set_env.sh
.npmrc
.DS_Store

tests/data/monero/bank
