[Unit]
Description=cc-vault-pollBtc
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/cc-vault
ExecStart=/home/ec2-user/.nvm/versions/node/v9.11.1/bin/node index
Restart=on-failure
Environment=NODE_ENV=production
Environment=PROCESS_NAME=pollBtc
Environment=DEBUG=CCVault*
Environment=AWS_ACCESS_KEY_ID=
Environment=AWS_REGION=eu-west-1
Environment=AWS_SECRET_ACCESS_KEY=
Environment=AWS_DYNAMO_CRYPTO_CLIENT_SETTINGS_TABLE_NAME=cc-vault-crypto-client-settings-dev
Environment=AWS_DYNAMO_CRYPTO_CLIENT_HEALTH_TABLE_NAME=cc-vault-crypto-client-health-dev
Environment=AWS_DYNAMO_CACHE_TABLE_NAME=cc-vault-cache-dev
Environment=AWS_DYNAMO_CURRENCY_SETTINGS_TABLE_NAME=cc-currency-settings
Environment=MYSQL_DB=
Environment=MYSQL_HOST=
Environment=MYSQL_PASS=
Environment=MYSQL_PORT=3306
Environment=MYSQL_USER=
Environment=LOGGER_NAME=cc-vault-pollBtc-staging

[Install]
WantedBy=multi-user.target
